* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.header {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
}

ul, ol, li, a {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

select {
    border-radius: 10px;
    padding: 5px;
}