* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

select {
    border-radius: 10px;
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    text-decoration: none;
    padding: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 10px;
    align-items: center;
    padding: 10px;
}

a:hover {
    color: #fddb3a;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #c5c0c0;
}

.img-area {
    display: flex;
    align-items: center;
    margin: 5px;
}

img {
    width: 900px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
    margin: 10px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

ul, ol, .description {
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: white;
	box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
	padding: 10px;
	margin: 10px;
	border-radius: 0.1rem;
}

li {
	padding: 0 0 0 1rem;
}

li:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 10px;
}